@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Este CRUD foi construído com a intenção de praticar POO e MVC. </p>
    <p>O repositório deste projeto utiliza o micro ORM Dapper</p>

    <p> Clique na Aba Login Para Iniciar o seu Tour pela Aplicação! Espero que gostem!</p>
</div>
