@{

    ViewData["Title"] = "Home Page";
}

<link href="~/css/login.css" type="text/css" rel="stylesheet" />

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="~/Images/imagemAuto.png" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="Senha">
      <input type="submit" class="fadeIn fourth" value="Entrar">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" asp-area="" asp-controller="Cadastro" asp-action="Register">Registre-se Aqui</a>
    </div>

  </div>
</div>


